{% extends "base.html" %}
{% load magicembed_tags %}
{% block content %}
<section class="section-message section-message-team section-spacing">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <center>
                    <h2>Here, is where the magic happens and how we did it!</h2>
                </center>
                <table class="table table-bordered">
                    <caption>Your Video Tittle</caption>
                    <tbody>
                        <tr>
                            <td>
                                {% verbatim %}
        					       <code>{{ video.title }}</code>
                                {% endverbatim %}
                            </td>
                            <td>        				
            				    <p>{{ video.title }}</p>
                            </td>
                        </tr>
            		</tbody>	 
                </table>
                <table class="table table-bordered">
                    <caption>This is your video URL</caption>
                    <tbody>
                        <tr>
                            <td>
                                {% verbatim %}
                    				<code>{{ video.url }}</code>
                                {% endverbatim %}
                            </td>
                            <td>
        				        <a href="{{ video.url }}">{{ video.url }}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <caption>This is your video embed</caption>
                    <tbody>
                        <tr>
                            <td>
                                {% verbatim %}
                    				<code>{{ video.url|magicembed:"580x420" }}</code>
                                {% endverbatim %}
                            </td>
                            <td>
                                <p>{{ video.url|magicembed:"580x420" }}</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <caption>And finally a thumbnail</caption>
                    <tbody>
                        <tr>
                            <td>
                                {% verbatim %}
                    				<code>{{ video.url|magicthumbnail }}</code>
                                {% endverbatim %}
                            </td>
                            <td>
        				        <img src="{{ video.url|magicthumbnail }}">
                            </td>
                        </tr>
                    </tbody>
                </table>        			
        	</div>
   		</div>
   	</div>
 	<center>
        <br/>
		<h2>Add other video</h2>
		<a href="/" class="btn btn-4 btn-4d icon-arrow-left">Here</a>
	</center>
</section>
{% endblock %}
