{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Magic Embed{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Magic Embed Demo">
    <meta name="author" content="Oscar Cortez">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css %}
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://kronoscode.com/assets/css/kronos.css">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/project.css' %}">
    {% endblock %}
    </head>

  <body>
    {% block header %}
    <header id="header" class="header-team">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <a class="demo-header" href="www.kronoscode.com"><span>Visit  <img src="{% static 'img/kronoscode.png' %}" alt="kronoscode">  site</span></a>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="title-container">
                        <h1 class="page-title">Django Magic Embed</h1>
                        <h2 class="page-sub-title">Fun, ideas, code &amp; hard work</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock header%}
    {% block content %}
    {% endblock content %}
    {% block footer %}
    <footer id="footer" class="section-spacing">
        <h2><a href="#" class="more-about-link">MORE ABOUT US?</a></h2>
        <a href="#" class="footer-arrow"><i class="fa fa-angle-up"></i></a>
        <aside class="credits section-spacing" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-11 col-md-11 col-sm-11 col-md-offset-1 col-lg-offset-1 col-sm-offset-1">
                        <div class="row">
                            <div class="col-lg-7 col-md-7 col-sm-7">
                                <div class="proudly-block">
                                    <img class="proudly" src="{% static 'img/logo-footer.png' %}">
                                    <aside class="footer-block">
                                        <p class="footer-info footer-info-line">Colonial Los Robles,<br>Etapa 6, Casa #11<br>Managua, Nicaragua</p>
                                        <pclass="footer-info">+505.8663.5944<p></p>
                                    </pclass="footer-info"></aside>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <aside class="footer-block">
                                    <p class="footer-info footer-info-line">
                                        <i class="fa fa-envelope"></i> lead@kronoscode.com
                                    </p>
                                    <p class="footer-info">
                                        <a href="https://www.facebook.com/kronoscode" target="_blank"><i class="fa fa-facebook fa-2x"></i></a> 
                                        <a href="http://dribbble.com/kronoscode" target="_blank"><i class="fa fa-dribbble fa-2x"></i></a>
                                        <a href="https://twitter.com/kronoscode" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                                    </p>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </footer>
    <div class="overlay overlay-kronos" id="main-overlay">
        <button type="button" class="overlay-close toggle-overlay-close">X</button>
    </div>
    <div id="overlays-content" class="hide">
        
        <div data-overlay="menu">
            <nav class="overlay-nav">
                <ul>
                    <li><a href="http://kronoscode.com/about.html">WHAT WE DO</a></li>
                    <li><a href="http://kronoscode.com/team.html">MEET OUR TEAM</a></li>
                    <li><a href="http://kronoscode.com/#projects" class="toggle-overlay-close">OUR WORK</a></li>
                    <li class="overlay-footer">
                        <aside class="overlay-footer-left">
                            <a href="https://www.facebook.com/kronoscode">Facebook</a> <a href="https://twitter.com/kronoscode">twitter</a> <a href="http://dribbble.com/kronoscode">dribbble</a>
                        </aside>
                        <aside class="overlay-footer-right">
                            lead@kronoscode.com
                        </aside>
                    </li>
                </ul>
            </nav>
        </div>

        <div data-overlay="contact">
            <div class="contact-form">
                <h2>CONTACT US</h2>
                <form id="contacto" role="form" action="/contact/" method="POST">
                    <div class="form-group">
                        <label class="col-sm-6 control-label">Hi guys my name is</label>
                        <input type="text" class="col-sm-6" placeholder="your name" name="name">
                    </div>
                    <div class="form-group">
                        <label class="col-sm-6 control-label">I´m looking for</label>
                        <select class="contact-select col-sm-6" name="looking">
                            <option value="Web Design">Web Design</option>
                            <option value="App Developer">App Developer</option>
                            <option value="SEO Optimizacion">SEO Optimization</option>
                        </select>
                    </div>
                    <div class="form-group" name="from">
                        <input type="email" class="col-sm-12" placeholder="your email" name="email">
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <center>
                                <input type="submit" class="btn btn-kblue btn-lg btn-block" value="SEND">
                            </center>
                        </div>
                    </div>
                </form>

                <aside class="overlay-footer-left">
                    Colonial Los Robles,<br>Etapa 6, Casa #11<br>Managua, Nicaragua
                </aside>
                <aside class="overlay-footer-right">
                    lead@kronoscode.com <br>+505.8663.5944
                </aside>
            </div>

        </div>
    </div>
    {% endblock footer %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/image.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/lightbox.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/project.js' %}"></script>
    </body>
</html>
