{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section class="section-message section-message-team section-spacing">
	<center>
		<p>Hello, dear visitor this is a demo for Django-Magic-Embed</p><br/>
		<p>It's Open Source, see the code in Github</p>
		<p><i class="fa fa-github"></i></p>
		<p>Complete the form and see the magic happens!</p>
	</center>
	<form enctype="multipart/form-data" action="{% url 'magic:add_video' %}" method="post">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-offset-3">
				    {% csrf_token %}			 
				    {{ form|crispy }}
		    		<input type="submit" value="Añadir video" />
		    	</div>
		    </div>
		</div>
	</form>
</section>
{% endblock content %}