{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main">
	<center>
		<span>Hello, dear visitor this is a demo for Django-Magic-Embed</span><br/>
		<span>Type any url from Vimeo or YouTube and see the magic!</span>
	</center>
	<form enctype="multipart/form-data" action="{% url 'magic:add_video' %}" method="post">
		<div class="row">
			<div class="col-md-5 col-md-offset-3">
			    {% csrf_token %}			 
			    {{ form|crispy }}
	    		<input type="submit" value="Añadir video" />
	    	</div>
	    </div>
	</form>
</div>
{% endblock content %}