/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(28, 28, 28,0.99);
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 60px;
	height: 60px;
	position: absolute;
	right: 20px;
	top: 20px;
	overflow: hidden;
	border: none;
	background: none;
	color:#fff;
	outline: none;
	font-size: 30px;
	z-index: 100;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}
.overlay .overlay-close:hover{
	color:#d12035;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

.overlay-logo{
	width: 200px;
	height: 60px;
	position: absolute;
	left: 15%;
	top: 10px;
	overflow: hidden;
	border: none;
	background: none;
	color:#fff;
	outline: none;
	font-size: 40px;
	z-index: 100;
}

/* Menu style */
.overlay nav {
	text-align: center;
	position: relative;
	top: 50%;
	height: 60%;
	font-size: 54px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.overlay .overlay-nav ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
	width: 70%;
}

.overlay .overlay-nav ul li {
	display: block;
	height: 20%;
	height: calc(100% / 5);
	min-height: 44px;
}

.overlay .overlay-nav ul li a {
	font-weight: bold;
	display: block;
	color: #5a5a5a;
	font-size:36px;
	text-transform: uppercase;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	padding-bottom: 12px;
}

.overlay .overlay-nav ul li a:hover,
.overlay .overlay-nav ul li a:focus {
	color: #26a9e0;
	background: url(../img/menu_overlay.png) no-repeat bottom center;
	outline: 0;
	text-decoration: none;
}

.overlay-footer{
	position: relative;
	bottom:0;
	font-size: 13px;
	color:#b3b3b3;
	margin-top:70px;
}
.overlay-footer-left a{
	font-size: 13px !important;
	color:#b3b3b3 !important;
	display: inline-block !important; 
	padding-bottom: 5px !important;
	margin-right: 10px !important;
	font-weight: 400 !important;
}
.overlay-footer-left{
	float:left;
	color:#b3b3b3;
	margin-top:20px;
}
.overlay-footer-right{
	float:right;
	color:#b3b3b3;
	margin-top:20px;
}

/* Effects */

.overlay-kronos {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.overlay-kronos.open {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

.overlay-kronos nav {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

.overlay-kronos nav ul {
	opacity: 0.3;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.overlay-kronos.open nav ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}