.header{
	background-color: blue;
	height: 70px;
	color: #fff;
	font-size: 23px;
	text-align: center;
	font-weight: bold;
}
.header > span{
	padding-top: 20px;
}
.main{
	width: auto;
	height: auto;
}
.main > span{
	font-size: 20px;
	text-align: center;
	margin-top: 30px; 
}